
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

body{
  background-color: palevioletred;
  height: 50vh;

}
*{
  margin: 0;
  padding: 0;
}
.logo{
  font-family: 'Noto Sans', sans-serif;
    margin: 3px 3px;
    font-weight: 600;
   
}
.header{

       background-color: black;
       color: rgb(204, 198, 198);

     border-bottom: solid;
     padding: 12px 3px;

     display: flex;
     justify-content: space-between;


  }
  ul{
       display: flex;
  }

  ul li{
    list-style: none;
    font-family:  sans-serif;
     cursor: pointer;
      padding: 5px;
  }

 
  .title{

      font-family: 'Protest Revolution', sans-serif;
         margin:  25px auto;
        margin-left: 25vw;
        margin-right: 25vw;
  }
  
  
 .forms{
     border: solid;

 } 

  table,td{
       border: 2px black solid;
  }
  
  .container{
        max-width: 70vw;
        margin: 20px auto;
  }

  h1,h2{
    margin: 20px 0q;
  }
  .btn{
      font-size: 12px;
      margin: 10px;
      padding: 10px;
      font-weight: bold;
       background-color: black;
      color: aliceblue;

      cursor: pointer;
      border-radius: 6px;
  }
  th{
     margin: 5px 8px;
   
  }
  table, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
}
.btnsm{ 
  padding: 8px 17px;
  background: black;
  color: white;
  font-weight: 900;
  border: 2px solid gray;
  border-radius: 8px; 
  cursor: pointer;
}


.section1{
   

    width: 40vw;
    height: 20vh;
display: flex;

 justify-content: center;
 
}
.tables{
      background-color: white;
      color: black;
}